/* outline: 2px solid tomato; DELETE */
:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

a {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
}

/* ============================== HEADER ============================== */

.site-header {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* =============================== NAV =============================== */
.nav-list {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo-word {
  color: var(--accent-color);
  display: inline-block;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.logo.logo-footer {
  color: var(--primary-bg-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* ============================== CONTACTS ============================== */

.header-contacts {
  display: flex;
  margin-left: auto;
  padding-left: 0;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail {
  margin-right: 50px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone:hover,
.icon-phone:focus {
  fill: var(--accent-color);
}

.icon-envelope:focus,
.icon-envelope:hover {
  fill: var(--accent-color);
}

/* ============================== STUDIO ============================== */

/* ============================== HEADING ============================== */

.heading {
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-bg-color);
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studioheaderimg.jpg);
}

.heading-content {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.heading-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-primary {
  padding: 8.28px 32px;
  min-width: 200px;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  outline: none;
}

/* ============================== FEATURES ============================== */

.features {
  text-align: center;
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.features-item {
  margin: 15px;
  flex-basis: calc((100% - 120px) / 4);
}

.features-icon {
  margin-bottom: 30px;
  background-color: var(--grey-bg-color);
  border-radius: 4px;
  padding: 25px 0;
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-color);
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: left;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

/* ============================== WHAT WE DO ============================== */

.what-do-list {
  margin: -15px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.what-do-item {
  margin: 15px;
  flex-basis: calc((100% - 90px) / 3);
}

/* ============================== TEAM ============================== */

.our-team {
  background-color: var(--grey-bg-color);
  text-align: center;
}

.team-list {
  margin: -15px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  margin: 15px;
  flex-basis: calc((100% - 120px) / 4);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: var(--title-color);
}

.team-item-subtitle {
  font-size: 16px;
}

/* ============================== SOCIAL LINKS ============================== */

.social-links {
  display: inline-flex;
}

.social-links-content:not(:last-child) {
  margin-right: 10px;
}

.social-links-items {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
}

.links-type {
  fill: #afb1b8;
}

.links-type:hover,
.links-type:focus {
  fill: white;
}

.social-links-items:hover,
.social-links-items:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-links-items:hover svg,
.social-links-items:focus svg {
  fill: var(--primary-bg-color);
}

/* ============================== CLIENTS ============================== */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  margin: 15px;
  height: 92px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--accent-color);
}

.clients-links-type {
  fill: #afb1b8;
}

/* ============================== PORTFOLIO ============================== */

/* ============================== FILTER ============================== */

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.filter-item {
  margin-right: 8px;
}

.filter-list .filter-item:last-child {
  margin-right: 0;
}

.filter-button {
  padding: 6px 22px;

  background-color: var(--grey-bg-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/* ============================== WORK EXAMPLES ============================== */

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples-item {
  margin: 15px;
  width: calc((100% - 90px) / 3);

  background-color: var(--primary-bg-color);
  text-align: left;
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.work-examples-title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples-subtitle {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* ============================== FOOTER ============================== */
.site-footer {
  background-color: var(--dark-bg-color);
  color: var(--primary-bg-color);
}

/* ============================== CONTACTS FOOTER ============================== */

.footer-content {
  display: flex;
}

.footer-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-style: normal;
}

.contacts-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.footer-contacts .contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/* ============================== JOIN FOOTER============================== */

.join {
  padding-top: 72px;
  margin-left: 70px;
}

.join-title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join-social-links {
  background-color: #44454e;
  border-radius: 50%;
}

.join-links-type {
  fill: var(--primary-bg-color);
}

.join-social-links:hover,
.join-social-links:focus {
  background-color: var(--accent-color);
}
